:root {
  font-family: sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: auto;
  height: 100%;
}

.container {
  flex: 1 0 auto;
}

/* Navigation Bar styles */
.navigation-bar {
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.6rem 1.5rem;
  /* background-color: lightgray; */
}

.navigation-bar a {
  font-size: 0.9rem;
  color: gray;
}

.nav-link {
  margin: auto 0;
  padding-left: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.app-drawer-box,
.profile-box {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.app-drawer-box {
  padding: 0.7rem;
}

.profile-box {
  padding: 0.2rem;
}

.profile-image-box {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
}

.app-drawer-box:hover,
.profile-box:hover {
  background-color: lightgray;
}

/* Main Body styles */
main {
  max-width: 40rem;
  height: max-content;
  margin: auto;
}

.google-image {
  width: max-content;
  margin: auto;
}

.form {
  width: inherit;
}

.search-input-box {
  width: inherit;
  display: flex;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  margin: 2rem 0;
}

.search-icon,
.voice-search-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
}

.input-area {
  max-width: 35.6rem;
  width: 100%;
  margin: 0 1rem;
}

input {
  padding: 1rem 0;
  width: inherit;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
}

input:focus {
  outline: 1px solid rgba(255, 255, 255, 0);
}

.button-box {
  text-align: center;
}

.button-box button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem;
}

.other-languages {
  text-align: center;
  margin: 1rem 0;
}

.languages a {
  margin: 0 0.5rem;
}

/* Footer Styles */
footer {
  background-color: #f2f2f2;
  flex-shrink: 0;
  color: grey;
}

footer a {
  color: grey;
  padding: 0.5rem;
}

.top-section,
.bottom-section {
  padding: 1.2rem 2rem;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}
